.register-container {
    margin: 50px auto;
    padding: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 700px;
    height: 475px;
  }
  
  .register-container h1 {
    font-family: inherit;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 2px;
  }
  
  .register-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .left-column,
  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .register-container input{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    width: 300px;
  }
  
  input:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .signup-button {
    width: 100px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-top: -12px;
  }
  
  .signup-button:hover {
    background-color: #333;
  }
  
  p {
    font-size: 0.9rem;
    color: #666;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .register-form {
      flex-direction: column;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
  }
  